<!-- <h2>
  Hey gurl, u thicc.
  <i class="fas fa-grin-hearts"></i>
</h2>  -->


<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">The LIST</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <!-- <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a> -->
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Hey gurl, u thicc.</h1>
    <p class="text-center">
      <i class="fas fa-grin-hearts fa-4x heart-spacing"></i>
      <i class="fas fa-grin-hearts fa-4x heart-spacing"></i>
      <i class="fas fa-grin-hearts fa-4x"></i>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p id="copyright-info">Created by Drongo Studios, a subsidiary of Hoot Inc. All rights reserved.</p>
    </div>
  </footer>
</div>